{% extends "home/base.html" %}
{% block content %}
{% include 'include/messages.html' %}
<div class='container'>
    <h2>Listado de Servicios</h2>
</div>
<hr/>
<div class="add-button">
    <a href="{% url 'apps.services:new' %}" class="btn btn-primary" >
    <i class="fas fa-plus-circle"></i> Agregar
    </a> 
</div>
<table class="table table-hover table-bordered mt-4 text-center">
        <thead>
            <tr class='table-dark'>
                <th scope="col">#</th>
                <th scope="col">Nombre/s</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Precio</th>
                <th scope="col">Estado</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for service in services %}
            <tr class='table-secondary'>
                    <td>{{ service.id }}</td>
                    <td>{{ service.name }}</td>
                    <td>{{ service.description }}</td>
                    <td>{{ service.price }}</td>
                    <td>
                        {% if service.state %}
                            <form method="post" action="{% url 'apps.services:disabled' pk=service.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">
                                    <i class="fas fa-times"></i> Desactivar
                                </button>
                            </form>
                        {% else %}
                            <form method="post" action="">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success">
                                    <i class="fas fa-check"></i> Activar
                                </button>
                            </form>
                        {% endif %}
                    </td>
                    <td>
                        <a href="" class="btn btn-secondary">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}