{% extends "home/base.html" %}
{% block content %}
{% include 'include/messages.html' %}
<div class="d-flex justify-content-between align-items-center">
    <h2>Listado de Servicios</h2>
    <div class="add-button">
        <a href="{% url 'apps.services:new' %}" class="button">
            <span class="button__text">Agregar</span>
            <span class="button__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg">
                    <line y2="19" y1="5" x2="12" x1="12"></line>
                    <line y2="12" y1="12" x2="19" x1="5"></line>
                </svg>
            </span>
        </a>
    </div>
</div>
<hr/>
<div class="search-form mt-3">
    <form method="GET" action="{% url 'apps.services:filter' %}">
        <div class="input-group">
            <input type="text" class="form-control" name="search" placeholder="Buscar por nombre">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>
</div>
<table class="table table-hover table-bordered mt-4 text-center">
        <thead>
            <tr class='table-dark'>
                <th scope="col">#</th>
                <th scope="col">Nombre/s</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Precio</th>
                <th scope="col">Estado</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for service in services %}
            <tr class='table-secondary'>
                    <td>{{ service.id }}</td>
                    <td>{{ service.name }}</td>
                    <td>{{ service.description }}</td>
                    <td>{{ service.price }}</td>
                    <td>
                        {% if service.state %}
                            <form method="post" action="{% url 'apps.services:disabled' pk=service.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">
                                    <i class="fas fa-times"></i> Desactivar
                                </button>
                            </form>
                        {% else %}
                            <form method="post" action="{% url 'apps.services:activate' pk=service.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success btn-sm">
                                    <i class="fas fa-check"></i> Activar
                                </button>
                            </form>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'apps.services:update' pk=service.pk %}">
                            <script src="https://cdn.lordicon.com/lordicon.js"></script>
                            <lord-icon
                                src="https://cdn.lordicon.com/ifsxxxte.json"
                                trigger="hover"
                                style="width:25px;height:25px">
                            </lord-icon>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}