{% load static %}
<!doctype html>
<html lang="en">
<head>
  <title>Eventos</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">  
  <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
</head>
<body>


<div class='container-login'>
    <div>
        <img  class='container-logo'src='../../media/log.svg' alt="" />
     </div>
{% block content %}


<div class='container-form'>
<form method="post" action="{% url 'login' %} "   >
{% csrf_token %}



<table >
<tr>
    <td>{{ form.username.label_tag }}</td><br>
    <td>{{ form.username }}</td>
</tr><br>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login">
</form>

</div>













{% endblock %}

</div>

<script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
</body>
</html>