{% extends "home/base.html" %}

{% block content %}
<div class='text-primary'>Crear empleados</div>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_table }}
    <div class="col-12 text-center">
        <button type="submit" class="btn btn-outline-success"><i class="fas fa-save"></i> Guardar</button>
        <a href="{% url 'apps.employees:list' %}" class="btn btn-outline-secondary">
            <i class="fas fa-times"></i> Cancelar
        </a>
    </div>
</form>
{% endblock content %}