{% extends "home/base.html" %}
{% block content %}

<div class='container'>
    <h2>Crear Coordinador</h2>
</div>
<hr/>


<div class='container mt-4'>
<form method="POST"  enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_table }}
    <hr/>
    <div class="col-12 mt-4 text-end ">
         <a href="{% url 'apps.coordinators:list' %}" class="btn btn-secondary"><i class="fas fa-times"></i>Volver</a> 
         <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i>Crear</button>
    </div>
</form>
</div>

{% endblock content %}
