{% extends "home/base.html" %}
{% block content %}
{% include 'include/messages.html' %}
<div class='container'>
    <h2>Listado de Coordinadores</h2>
</div>
<hr/> 
<div class="add-button">
      <a href="{% url 'apps.coordinators:new' %}" class="btn btn-primary" >
      <i class="fas fa-plus-circle"></i> Agregar
      </a> 
</div>
<table class="table table-hover table-bordered mt-4 text-center">
        <thead>
            <tr class='table-dark'>
                <th scope="col">#</th>
                <th scope="col">Apellido/s</th>
                <th scope="col">Nombre/s</th>
                <th scope="col">DNI</th>
                <th scope="col">Estado</th>
                <th scope="col">Accion</th>
            </tr>
        </thead>
        <tbody>
            {% for coordinator in coordinators %}
                <tr class='table-secondary'>
                    <td>{{ coordinator.id }}</td>
                    <td>{{ coordinator.last_name }}</td>
                    <td>{{ coordinator.name }}</td>
                    <td>{{ coordinator.dni }}</td>
                    <td>
                        {% if coordinator.state %}
                            <form method="post" action="{% url 'apps.coordinators:disabled' pk=coordinator.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">
                                    <i class="fas fa-times"></i> Desactivar
                                </button>
                            </form>
                        {% else %}
                            <form method="post" action="{% url 'apps.coordinators:activate' pk=coordinator.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success">
                                    <i class="fas fa-check"></i> Activar
                                </button>
                            </form>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'apps.coordinators:update' pk=coordinator.pk %}" class="btn btn-secondary">
                            <i class="fas fa-edit"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
</table>
{% endblock content %}

