{% extends "home/base.html" %}

{% block content %}
<div class='container'>
    <h2 class="mt-4">Crear Cliente</h2>
</div>
<hr>
<div class='container mt-4'>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label>Nombre/s:</label>
                    <div id="name_input">
                        <input type="text" name="name" class="form-control"/>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label>Apellido/s:</label>
                    <div id="last_name_input">
                        <input type="text" name="last_name" class="form-control"/>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="state_checkbox">Estado:</label>
                    <div id="state_input">
                        <input type="checkbox" id="state_checkbox" name="state" class="form-check-input"/>
                    </div>
                </div>
                <hr/>
                <div class="col-12 mt-4 text-end">
                    <a href="{% url 'apps.customers:list' %}" class="btn btn-secondary">
                        <i class="fas fa-times"></i> Cancelar
                    </a>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save"></i> Guardar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}