/*att general*/
body{
    background-color: #21232A;
}
.container-block{
    margin-top: 10rem!important;
    color:aliceblue;
    background-color: #4a9c7e; 
}








/* TEMPLATE CREATE COORDINATORS*/

