/* Estilos Generales */
body {
    background-color: #f4f8fa;
    font-family: 'Open Sans', sans-serif;
}

body,
.container-block,
.table td {
    color: #17202a;
}

.container-block {
    margin-top: 2rem !important;
    color: aliceblue;
    background-color: #6e98bf;
}

.nav {
    background-color: #5373a2;
}

.container-block {
    background-color: #44566c;
}

.nav {
    background-color: #2a3547;
}
.text{
    color: aliceblue;
}
.text:hover{
 color:#6e98bf;

}

.container-card{
    box-shadow: 10px 10px 30px -8px rgba(0,0,0,0.75)!important;
}

.container-card:hover{
    background: linear-gradient(to right, #2a3547, #5373a2, #2a3547); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:aliceblue;
    box-shadow: 10px 10px 30px -8px rgba(124, 124, 124, 0.75);
}

/*login*/


.container-login{
    width: 100vw;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(0deg, #2a3547 50%, #6e98bf 50%);
    
    
}
.container-logo{
    display:flex;
    align-items: center;
    justify-content: center;
}
.container-form{
  background-color: #17202a7e;
  color: #f4f8fa;
}


.button {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #34974d;
    background-color: #3aa856;
  }
  
  .button, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button .button__text {
    transform: translateX(30px);
    color: #fff;
    font-weight: 600;
  }
  
  .button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #34974d;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button .svg {
    width: 30px;
    stroke: #fff;
  }
  
  .button:hover {
    background: #34974d;
  }
  
  .button:hover .button__text {
    color: transparent;
  }
  
  .button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .button:active .button__icon {
    background-color: #2e8644;
  }
  
  .button:active {
    border: 1px solid #2e8644;
  }
  
a {
    text-decoration: none;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

.qr-code-cell {
  position: relative;
  overflow: hidden;
}

.zoom-effect {
  transition: transform 0.3s ease-in-out;
}

.zoom-effect:hover {
  transform: scale(1.5);
}