{% extends "home/base.html" %}
{% block content %}
{% include 'include/messages.html' %}
<div class='container'>
    <h2>Listado de Reservas</h2>
</div>
<hr/>
<div class="add-button">
    <a href="{% url 'apps.bookings:new' %}" class="btn btn-primary" >
    <i class="fas fa-plus-circle"></i> Agregar
    </a> 
</div>  
<table class="table table-hover table-bordered mt-4 text-center">
        <thead>
            <tr class='table-dark'>
                <th scope="col">#</th>
                <th scope="col">Fecha reserva</th>
                <th scope="col">Cliente</th>
                <th scope="col">Servicio</th>
                <th scope="col">Coordinador</th>
                <th scope="col">Empleado</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
            <tr class='table-secondary'>
                    <td>{{ booking.id }}</td>
                    <td>{{ booking.date }}</td>
                    <td>{{ booking.customer }}</td>
                    <td>{{ booking.service }}</td>
                    <td>{{ booking.coordinators }}</td>
                    <td>{{ booking.employee }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}