{% extends "home/base.html" %}

{% block content %}
{% include 'include/messages.html' %}
<div class='container'>
    <h2 class="mt-4">Actualizar Reserva</h2>
</div>
<hr>
<div class='container mt-4'>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label>Fecha:</label>
                    <div id="date_input">
                        <input type="date" name="date" class="form-control" value="{{ bookings.date|date:'Y-m-d' }}"/>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label>Service:</label>
                    <select name="service" class="form-control">
                        {% for service in services %}
                            <option value="{{ service.id }}" {% if service.id == bookings.service.id %}selected{% endif %}>
                               {{ service.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label>Cliente:</label>
                    <select name="customer" class="form-control">
                        {% for customer in customers %}
                            <option value="{{ customer.id }}" {% if customer.id == bookings.customer.id %}selected{% endif %}>
                                {{ customer.last_name }}, {{ customer.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label>Coordinador:</label>
                    <select name="coordinators" class="form-control">
                        {% for coordinator in coordinators %}
                            <option value="{{ coordinator.id }}" {% if coordinator.id == bookings.coordinator.id %}selected{% endif %}>
                                {{ coordinator.last_name }}, {{ coordinator.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <hr/>
                <div class="col-12 mt-4 text-end">
                    <a href="{% url 'apps.bookings:list' %}" class="btn btn-secondary btn-sm">
                        <i class="fas fa-times"></i> Cancelar
                    </a>
                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fas fa-save"></i> Guardar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}

