{% extends "home/base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 container-card">
                <a href="{% url 'apps.bookings:list' %}" style="text-decoration: none; color: inherit;">
                    <div class="card-body">
                            <h5 class="card-title">
                                Reservas
                                    <i class="fas fa-chevron-right"></i>
                            </h5>
                            <p class="card-text">Total de reservas</p>
                            <i class="fas fa-calendar-alt" style="position: relative;">
                                <span class="position-absolute top-0 start-10 translate-middle badge rounded-pill bg-danger" style="font-size: 0.5em;">
                                    {{ total_bookings }}
                                    <span class="visually-hidden"></span>
                                </span>                        
                            </i>
                    </div>
                </a>
            </div>                      
        </div>
        <div class="col-md-4">
            <div class="card mb-4 container-card">
                <a href="{% url 'apps.customers:list' %}" style="text-decoration: none; color: inherit;">
                    <div class="card-body">
                        <h5 class="card-title">
                            Clientes
                            <i class="fas fa-chevron-right"></i>
                        </h5>
                        <p class="card-text">Total de clientes</p>
                        <i class="fas fa-user-alt" style="position: relative;">
                            <span class="position-absolute top-0 start-10 translate-middle badge rounded-pill bg-danger" style="font-size: 0.5em;">
                                {{ total_customers }}
                                <span class="visually-hidden"></span>
                            </span>                        
                        </i>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 container-card">
                <a href="{% url 'apps.services:list' %}" style="text-decoration: none; color: inherit;">
                    <div class="card-body">
                        <h5 class="card-title">
                            Servicios
                            <i class="fas fa-chevron-right"></i>
                        </h5>
                        <p class="card-text">Total de servicios</p>
                        <i class="fas fa-wrench" style="position: relative;">
                            <span class="position-absolute top-0 start-10 translate-middle badge rounded-pill bg-danger" style="font-size: 0.5em;">
                                {{ total_services }}
                                <span class="visually-hidden"></span>
                            </span>                        
                        </i>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 container-card">
                <a href="{% url 'apps.coordinators:list' %}" style="text-decoration: none; color: inherit;">
                    <div class="card-body ">
                        <h5 class="card-title">
                            Coordinadores
                            <i class="fas fa-chevron-right"></i>
                        </h5>
                        <p class="card-text">Total de coordinadores</p>
                        <i class="fas fa-user-tie" style="position: relative;">
                            <span class="position-absolute top-0 start-10 translate-middle badge rounded-pill bg-danger" style="font-size: 0.5em;">
                                {{ total_coordinators }}
                                <span class="visually-hidden"></span>
                            </span>                        
                        </i>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 container-card">
                <a href="{% url 'apps.employees:list' %}" style="text-decoration: none; color: inherit;">
                    <div class="card-body">
                        <h5 class="card-title">
                            Empleados
                            <i class="fas fa-chevron-right"></i>
                        </h5>
                        <p class="card-text">Total de empleados</p>
                        <i class="fas fa-briefcase" style="position: relative;">
                            <span class="position-absolute top-0 start-10 translate-middle badge rounded-pill bg-danger" style="font-size: 0.5em;">
                                {{ total_employees }}
                                <span class="visually-hidden"></span>
                            </span>                        
                        </i>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
